.Heading {
  top: 50px;
  width: 100%;
  font-family: Vidaloka;
font-style: normal;
font-weight: normal;
font-size: 56px;
line-height: 80px;

text-align: center;
letter-spacing: 0.07em;
text-transform: capitalize;
color: #FFFFFF;
text-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
  }


.BlogContainer{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 947px;
  left: 0px;
  top: 1478px;
  margin:20px 0;
}

.ArticleBackgroundWhite{
width: 33%;
height: 800px;
left: 0px;
top: 0px;
background: #F8FBF6;
padding: 80px;
}

.ArticlePic1{
width: 400px;
height: 270px;
left: 80px;
top: 64px;
background-repeat: no-repeat;
}

.ArticleTitle1{
width: 686px;
height: 36px;
left: 91px;
top: 421px;
padding-top: 40px;
padding-bottom: 40px;

/* Titel */

font-family: Avenir Next;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 36px;
/* identical to box height, or 150% */

letter-spacing: 0.015em;
text-transform: capitalize;

color: #000000;
margin: auto;
}

.ArticleText1{
width: auto;
height: 189px;
left: 80px;
top: 490px;
padding-bottom: 40px;

font-family: Avenir Next;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 30px;
/* or 167% */

letter-spacing: 0.015em;

color: rgba(0, 0, 0, 0.8);
margin: auto;
}

.ReadMoreButton{
  padding: 20px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ReadMore{


/* Button */

font-family: Avenir Next;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 20px;
/* identical to box height, or 111% */

display: flex;
align-items: center;
text-align: center;
font-feature-settings: 'liga' off;

color: #000000;
}

.ArticleBackgroundGreen{

background: #606B47;
width: 33%;
height: 800px;
left: 0px;
top: 0px;
padding: 80px;
}


.ArticleTitle2{
  width: 686px;
  height: 36px;
  left: 91px;
  top: 421px;
  padding-top: 40px;
  padding-bottom: 40px;
  
  /* Titel */
  
  font-family: Avenir Next;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height, or 150% */
  
  letter-spacing: 0.015em;
  text-transform: capitalize;

  margin: auto;
color: #FFFFFF;
}

.ArticleText2{
  width: auto;
  height: 189px;
  left: 80px;
  top: 490px;
  padding-bottom: 40px;
  
  font-family: Avenir Next;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  /* or 167% */
  
  letter-spacing: 0.015em;
  
  margin: auto;
color: rgba(255, 255, 255, 0.8);
}


  .ArticleTitle3{
  width: 686px;
  height: 36px;
  left: 91px;
  top: 421px;
  
  /* Titel */
  
  font-family: Avenir Next;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height, or 150% */
  
  letter-spacing: 0.015em;
  text-transform: capitalize;
  
  color: #000000;
  }
  
  .ArticleText3{
width: 378px;
height: 189px;
left: 91px;
top: 540px;

/* Body P */

font-family: Avenir Next;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 30px;
/* or 167% */

letter-spacing: 0.015em;

color: rgba(0, 0, 0, 0.8);
  }
  

  .Navbar {
  display: flex;
  flex-direction: row;
  align-items: right;
  justify-content: space-around;
  padding: 20px;
  position: absolute;
  width: auto;
  height: 40px;
  right: 30px;
  top: 21.5px;
  font-weight: 100;
  order: 1;
  flex-grow: 1;
  margin-right: 20px;
 }
 .Nav {
  font-family: Montserrat;
  font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 24px;
padding: 0px 10px;
/* identical to box height, or 133% */
padding: 15px;


color: #FFFFFF;
 }

.Article{
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-around;
  width: auto;
}
.Button {
  display: flex;
    justify-content: center; 
    align-items: center; 
}
.Buttonwhite {
  color: #FFFFFF;
  padding: 20px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* mouse over link */
a:hover {
  color: #EADBA8;
  font-size: larger;
  text-decoration: underline;
}

/* selected link */
a:active {
  color: #F5966C;
  text-decoration: underline;
}
.form {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 20px;
  
}
.input {
  width: 30%;
  display: flex;
  justify-content: center;
  align-content: center;
  border: solid #606B47 0.5px;
  border-radius: 5px;
  padding: 5px 10px;
  outline: none;
  
  
}
.Parkintroduction {
  margin: 5% 1% 1%;
  
  display: flex;
  justify-content: center;
  align-content: center;


/* Body P Large */

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 50px;
/* or 139% */

text-align: center;
letter-spacing: -0.015em;

color: #000000;
}
